import

*{
	box-sizing: border-box;
}

body {

	font-family: 'Roboto', sans-serif;
	background-color: greyDark;
	display: block;
}

#sideMenu {
	background: #343a40;
	max-width: 280px;
	nav {
	   a {
			display: block;
		}
	}
}