 {% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Administration</title>
	<link rel="stylesheet" type="text/css" href="ligdi/admin.bootstrap.css">
</head>
<body>
	<div id="page_full">
		<h3>Bonjour {{gest.ges_firstname}} {{gest.ges_lastname}}</h3>
		<nav>
			<div><h2><a href="vers_list/">Confirmation de Versement</a>  </h2></div>
			<div><h2><a href="frai_compte_exp/">Confirmation payement frai de compte</a></h2> </div>
			<div><h2><a href="conf_payement/">Confirmation de Payement</a></h2></div>
		</nav>
		
	</div>

</body>
</html>