{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cashpro | SignUp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'ligdi/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ligdi/login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form  method="POST"  class="login100-form validate-form">
				{% csrf_token %}
					<span class="login100-form-title p-b-26">
						INSCRIPTION
					</span>

					 {% if result.p == 1%} <p> <h5 align="center" class="txt3"> # Les deux mot de passe ne correspondent pas ou la longueur est inférieur à 8 </h5> </p>   {%endif%}

					 {%if result.n == 1%} <p><h5 align="center" class="txt3"> # Ce nom d'utilisateur existe déja, choisissez un autre</h5></p>  {% endif %}

					 {%if result.c == 1%} <p><h5 align="center" class="txt13"> # Veuillez acceptez les conditions pour Continuer</h5></p> {%endif%}

					 {%if result.e == 1%} <p><h5 align="center" class="txt3"> # Cet adresse email existe déja</h5></p> {%endif%}

					 
						<img src="{% static 'ligdi/login/images/icons/logo1.ico' %}">
					 
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="username" required />
						<span class="focus-input100" data-placeholder="Nom d'utilisateur"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email" required />
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password" required>
						<span class="focus-input100" data-placeholder="Mot de passe"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="passwordconf" required>
						<span class="focus-input100" data-placeholder="Confirmation mot de passe"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="id_number" required />
						<span class="focus-input100" data-placeholder="Numéro de CNI ou Passport"></span>
					</div>

					<div class="wrap-input100 ">
						<span class="txt1">
							déclarez-vous avoir lu et acceptez 
						</span>

						<a class="txt2" href="/conditions.html">
							les conditions d'utilisations?
						</a>
					</div>

					<div class="box">
						<input type="Checkbox"  name="conditions" >
						<label> <span class="txt1"> Cochez si oui</span> </label>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								S'inscrire
							</button>
						</div>
					</div>

					
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'ligdi/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ligdi/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ligdi/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'ligdi/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ligdi/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ligdi/vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'ligdi/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ligdi/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'ligdi/js/main.js'%}"></script>

</body>
</html>